<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775948610033-t8aiqo532tetm2sl36qdoq6v9ue5dfdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775948610033-t8aiqo532tetm2sl36qdoq6v9ue5dfdg</string>
	<key>API_KEY</key>
	<string>AIzaSyDECtDIzpurslpCP2ch9WQ-D4UQxHtGz0E</string>
	<key>GCM_SENDER_ID</key>
	<string>775948610033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.galsApp</string>
	<key>PROJECT_ID</key>
	<string>gals-51236</string>
	<key>STORAGE_BUCKET</key>
	<string>gals-51236.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775948610033:ios:be5b2e196893db7c6bfc50</string>
</dict>
</plist>